modello-maven-plugin/features/xsd/features-1.0.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.8.4-SNAPSHOT,                                   -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://modello.codehaus.org/FEATURES/1.0.0" targetNamespace="http://modello.codehaus.org/FEATURES/1.0.0">
  <xs:element name="features-demo" type="Features">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Features">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="versionField" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">A field described as model&apos;s versionDefinition field: its value contains the version of the model used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="comment" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Test of a description.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="required" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;field&gt;&lt;required&gt;true&lt;/required&gt;&lt;/field&gt;: Test of a required field.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="identifier" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;field&gt;&lt;identifier&gt;true&lt;/identifier&gt;&lt;/field&gt;: a field taking part in instance identifier.
            This field is used to generate &lt;code&gt;toString()&lt;/code&gt;, &lt;code&gt;hashCode()&lt;/code&gt; and &lt;code&gt;equals()&lt;/code&gt;
            methods.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="identifierPart2" type="Reference">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Multiple fields can be participate in an identifier, either simple types or complex ones.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="simpleTypes" type="SimpleTypes">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="defaultValues" type="SimpleTypes">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrays" type="ArrayFeatures">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="associationFeatures" type="AssociationFeatures">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Test of association features.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="javaFeatures" type="JavaFeatures">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="xmlFeatures" type="XmlFeatures">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="xdocFeatures" type="XdocFeatures">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="node" type="NodeItem">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="cloneable" type="Thing">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="file" type="File">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="action" type="Action">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="SimpleTypes">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        &lt;code&gt;&amp;lt;field&amp;gt;&amp;lt;type&amp;gt;&lt;i&gt;chose a type&lt;/i&gt;&amp;lt;/type&amp;gt;&amp;lt;field&amp;gt;&lt;/code&gt;:
        Test of every simple types supported.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="primitiveBoolean" type="xs:boolean" default="true">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;boolean&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveChar" default="H">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;char&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1" fixed="true"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveByte" type="xs:byte" default="12">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;byte&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveShort" type="xs:short" default="1212">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;short&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveInt" type="xs:int" default="121212">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;int&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveLong" type="xs:long" default="1234567890123">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;long&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveFloat" type="xs:float" default="12.12">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;float&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveDouble" type="xs:double" default="12.12">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;double&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="objectString" type="xs:string" default="default value">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;String&lt;/code&gt; class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="objectDate" type="xs:dateTime" default="2012-12-24T22:12:12.012">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;Date&lt;/code&gt; class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveBooleanNoDefault" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;boolean&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveCharNoDefault">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;char&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1" fixed="true"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveByteNoDefault" type="xs:byte" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;byte&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveShortNoDefault" type="xs:short" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;short&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveIntNoDefault" type="xs:int" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;int&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveLongNoDefault" type="xs:long" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;long&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveFloatNoDefault" type="xs:float" default="0.0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;float&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="primitiveDoubleNoDefault" type="xs:double" default="0.0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;double&lt;/code&gt; primitive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="objectStringNoDefault" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;String&lt;/code&gt; class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="objectDateNoDefault" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;Date&lt;/code&gt; class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dom">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;DOM&lt;/code&gt; type.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="content" type="ContentTest">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;Content&lt;/code&gt; type: in fact, an association to a class with attributes and
          one &lt;code&gt;Content&lt;/code&gt; field.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ContentTest">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">A model class that has only XMl attributes fields and exactly one field with
        &lt;code&gt;Content&lt;/code&gt; type.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="attr" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation source="version">1.0.0+</xs:documentation>
            <xs:documentation source="description">An XML attribute.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attr2" type="xs:int" default="0" use="optional">
          <xs:annotation>
            <xs:documentation source="version">1.0.0+</xs:documentation>
            <xs:documentation source="description">A 2nd XML attribute.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayFeatures">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        &lt;code&gt;&amp;lt;field&amp;gt;&amp;lt;type&amp;gt;&lt;i&gt;chose a type&lt;/i&gt;[]&amp;lt;/type&amp;gt;&amp;lt;field&amp;gt;&lt;/code&gt;:
        Test of arrays of every types supported (java plugin only).
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="Action">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
        A single action done on the project, during this release.
      </xs:documentation>
        </xs:annotation>
        <xs:attribute name="dev" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation source="version">1.0.0+</xs:documentation>
            <xs:documentation source="description">
            
            &lt;p&gt;Name of developer who committed the change.&lt;/p&gt;
            &lt;p&gt;This can be either the id of the developer, as specified in the developers section of the pom.xml file, or the name of the developer. If you generate a changes report and specify the id of the developer, a link is created to that developer in the team-list.html page.&lt;/p&gt;
            
          </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XdocFeatures">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Test of XDOC specific parameters: see
        &lt;a href=&quot;http://fisheye.codehaus.org/browse/modello/trunk/modello-plugins/modello-plugin-xdoc/src/main/java/org/codehaus/modello/plugin/xdoc/metadata/XdocMetadataPlugin.java?r=trunk&quot;&gt;XdocMetadataPlugin&lt;/a&gt;
        class.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="field" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="xdocSeparatorNone" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field xdoc.separator=&quot;none&quot;&amp;gt;&lt;/code&gt;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="xdocSeparatorBlank" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field  xdoc.separator=&quot;blank&quot;&amp;gt;&lt;/code&gt;.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Reference">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">A simple class for association demo.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="JavaFeatures">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Test of java generation specific parameters: see
        &lt;a href=&quot;http://fisheye.codehaus.org/browse/modello/trunk/modello-core/src/main/java/org/codehaus/modello/plugin/java/JavaMetadataPlugin.java?r=trunk&quot;&gt;JavaMetadataPlugin&lt;/a&gt;
        class.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="interfaces" type="InterfacesFeature">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="packageName" type="PackageNameFeature">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="base" type="BaseClass">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="subClass" type="SubClassLevel1">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="subClass2" type="SubClassLevel2">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="subClass3" type="SubClassLevel3">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="annotation" type="AnnotationTest">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PackageNameFeature">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">&lt;code&gt;&amp;lt;class&amp;gt;&amp;lt;packageName&amp;gt;&lt;i&gt;...&lt;/i&gt;&amp;lt;/packageName&amp;gt;&amp;lt;/class&amp;gt;&lt;/code&gt;:
        A class generated in a package different from the default one.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="reference" type="Reference">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="SubClassLevel3">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">&lt;code&gt;&amp;lt;class&amp;gt;&amp;lt;superClass&amp;gt;SubClassLevel2&amp;lt;/superClass&amp;gt;&amp;lt;/class&amp;gt;&lt;/code&gt;:
       A class inheriting from SubClassLevel2.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="subElement3" type="xs:double" default="0.0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="subElement2" type="xs:float" default="0.0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="subElement1" type="xs:long" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="baseElement" type="xs:int" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="subAttribute3" type="xs:double" default="0.0" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="subAttribute2" type="xs:float" default="0.0" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="subAttribute1" type="xs:long" default="0" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="baseAttribute" type="xs:int" default="0" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AnnotationTest">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="anyField" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="SubClassLevel2">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">&lt;code&gt;&amp;lt;class&amp;gt;&amp;lt;superClass&amp;gt;SubClassLevel1&amp;lt;/superClass&amp;gt;&amp;lt;/class&amp;gt;&lt;/code&gt;:
       A class inheriting from SubClassLevel1.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="subElement2" type="xs:float" default="0.0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="subElement1" type="xs:long" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="baseElement" type="xs:int" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="subAttribute2" type="xs:float" default="0.0" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="subAttribute1" type="xs:long" default="0" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="baseAttribute" type="xs:int" default="0" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SubClassLevel1">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">&lt;code&gt;&amp;lt;class&amp;gt;&amp;lt;superClass&amp;gt;BaseClass&amp;lt;/superClass&amp;gt;&amp;lt;/class&amp;gt;&lt;/code&gt;:
       A class inheriting from BaseClass.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="subElement1" type="xs:long" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="baseElement" type="xs:int" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="subAttribute1" type="xs:long" default="0" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="baseAttribute" type="xs:int" default="0" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="BaseClass">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">A base class, to be inherited.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="baseElement" type="xs:int" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="baseAttribute" type="xs:int" default="0" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="InterfacesFeature">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Thing">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="someBoolean" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="someChar">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1" fixed="true"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="someByte" type="xs:byte" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="someShort" type="xs:short" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="someInt" type="xs:int" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="someLong" type="xs:long" default="0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="someFloat" type="xs:float" default="0.0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="someDouble" type="xs:double" default="0.0">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="someString" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="someDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="someDom">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="someProperties">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="someStringList">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="someStringList" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="someStringSet">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="someStringSet" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="deepThingy" type="Thingy">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="deepThingyList">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="deepThingyList" minOccurs="0" maxOccurs="unbounded" type="Thingy"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="deepThingySet">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="deepThingySet" minOccurs="0" maxOccurs="unbounded" type="Thingy"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="shallowThingy" type="Thingy">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="shallowThingyList">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="shallowThingyList" minOccurs="0" maxOccurs="unbounded" type="Thingy"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="shallowThingySet">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="shallowThingySet" minOccurs="0" maxOccurs="unbounded" type="Thingy"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Thingy">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NodeItem">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="value" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="child" type="NodeItem">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="AssociationFeatures">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        &lt;code&gt;&amp;lt;field&amp;gt;&amp;lt;type&amp;gt;&lt;i&gt;chose a type&lt;/i&gt;&amp;lt;/type&amp;gt;&amp;lt;field&amp;gt;&lt;/code&gt;:
        Test of every simple types supported.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="listReferences">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="listReference" minOccurs="0" maxOccurs="unbounded" type="Reference"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="setReferences">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="setReference" minOccurs="0" maxOccurs="unbounded" type="Reference"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="listStrings">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="listString" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="setStrings">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="setString" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="properties">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="bidi" type="Bidirectional">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="listOfBidis">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="listOfBidi" minOccurs="0" maxOccurs="unbounded" type="BidiInList"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="setOfBidis">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="setOfBidi" minOccurs="0" maxOccurs="unbounded" type="BidiInSet"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="BidiInSet">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="parent" type="AssociationFeatures">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="BidiInList">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="parent" type="AssociationFeatures">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Bidirectional">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        Test of a bidirectional association, ie an association that has a reference to its parent.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="parent" type="AssociationFeatures">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="File">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="file" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="XmlFeatures">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Test of XML specific parameters: see
        &lt;a href=&quot;http://fisheye.codehaus.org/browse/modello/trunk/modello-plugins/modello-plugin-xml/src/main/java/org/codehaus/modello/plugins/xml/XmlMetadataPlugin.java?r=trunk&quot;&gt;XmlMetadataPlugin&lt;/a&gt;
        class.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="attributes" type="XmlAttributes">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="attributesDefault" type="XmlAttributes">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="content" type="XmlContent">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fieldTrim" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field&amp;gt;&lt;/code&gt;: a text field, by default with trimming.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fieldNoTrim" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.trim=&quot;false&quot;&amp;gt;&lt;/code&gt;: a text field without trimming.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dom">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field&amp;gt;&amp;lt;type&amp;gt;DOM&amp;mt;&amp;gt;&amp;lt;/type&amp;gt;&lt;/code&gt;: a DOM field, by default with trimming (each element in the DOM tree).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="domNoTrim">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.trim=&quot;false&quot;&amp;gt;&amp;lt;type&amp;gt;DOM&amp;mt;&amp;gt;&amp;lt;/type&amp;gt;&lt;/code&gt;: a DOM field without trimming.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="tag-name" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.tagName=&quot;&lt;i&gt;tag-name&lt;/i&gt;&quot;&amp;gt;&lt;/code&gt;: a field with an XML name different from the field name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dateXmlFormat" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.format=&quot;&lt;i&gt;SimpleDateFormat specification&lt;/i&gt;&quot;&amp;gt;&lt;/code&gt;: a Date field with a specified format.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dateLong" type="xs:long">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.format=&quot;long&quot;&amp;gt;&lt;/code&gt;: a Date field as a long value in XML.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="xmlItemsStyleFlat" type="Reference" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field&amp;gt;&amp;lt;association xml.listStyle=&quot;flat&quot;/&amp;gt;&amp;lt;/field&amp;gt;&lt;/code&gt;: a &quot;flat&quot; list, ie without enclosing tag.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="xmlAssociationTagNames">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field&amp;gt;&amp;lt;association xml.tagName=&quot;&lt;i&gt;association.tag-name&lt;/i&gt;&quot;&amp;gt;&amp;lt;/field&amp;gt;&lt;/code&gt;:
            a list with an XML name different from calculated singular of tag name.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="association.tag-name" minOccurs="0" maxOccurs="unbounded" type="Reference"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="field.tag-names">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.tagName=&quot;field.tag-names&quot;&amp;gt;&amp;lt;association&amp;gt;&amp;lt;/field&amp;gt;&lt;/code&gt;:
            a list with an XML name different from field name.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="field.tag-name" minOccurs="0" maxOccurs="unbounded" type="Reference"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="field.tag-name">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.tagName=&quot;field.tag-name&quot;&amp;gt;&amp;lt;association xml.tagName=&quot;association.tag-name&quot;&amp;gt;&amp;lt;/field&amp;gt;&lt;/code&gt;:
            a list with an XML name different from field name and an XML name different from calculated singular of tag name.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="association.tag-name" minOccurs="0" maxOccurs="unbounded" type="Reference"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="association.tag-name" type="Reference" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field&amp;gt;&amp;lt;association xml.itemsStyle=&quot;flat&quot; xml.tagName=&quot;&lt;i&gt;association.tag-name&lt;/i&gt;&quot;&amp;gt;&amp;lt;/field&amp;gt;&lt;/code&gt;:
            a flat list with an XML name different from calculated singular of tag name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="explodeProperties">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;type&amp;gt;Properties&amp;lt;/type&amp;gt;&amp;lt;association xml.mapStyle=&quot;explode&quot;&amp;gt;&lt;/code&gt;.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="inlineProperties">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;type&amp;gt;Properties&amp;lt;/type&amp;gt;&amp;lt;association xml.mapStyle=&quot;inline&quot;&amp;gt;&lt;/code&gt; (default).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="xmlTransientFields" type="XmlTransientFields">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="xmlFieldsOrder" type="XmlFieldsOrder">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="xsdFeatures" type="XsdFeatures">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="tag-name.attribute" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.attribute=&quot;true&quot; xml.tagName=&quot;&lt;i&gt;tag-name.attribute&lt;/i&gt;&quot;&amp;gt;&lt;/code&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="XsdFeatures">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Test of XSD specific parameters: see
        &lt;a href=&quot;http://fisheye.codehaus.org/browse/modello/trunk/modello-plugins/modello-plugin-xsd/src/main/java/org/codehaus/modello/plugin/xsd/metadata/XsdMetadataPlugin.java?r=trunk&quot;&gt;XsdMetadataPlugin&lt;/a&gt;
        class.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="attribute" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="XmlContent">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.content=&quot;true&quot;&amp;gt;&lt;/code&gt;: fields as XML content,
        for every simple type.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="content.long" type="XmlContentLong">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="content.long-with-attributes" type="XmlContentLongWithAttributes">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="XmlContentLong">
    <xs:simpleContent>
      <xs:extension base="xs:long">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.content=&quot;true&quot;&amp;gt;&lt;/code&gt; with &lt;code&gt;long&lt;/code&gt; type.
      </xs:documentation>
        </xs:annotation>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XmlContentLongWithAttributes">
    <xs:simpleContent>
      <xs:extension base="xs:long">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.content=&quot;true&quot;&amp;gt;&lt;/code&gt; with &lt;code&gt;long&lt;/code&gt; type and some attributes.
      </xs:documentation>
        </xs:annotation>
        <xs:attribute name="attr" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation source="version">1.0.0+</xs:documentation>
            <xs:documentation source="description">An XML attribute.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attr2" type="xs:int" default="0" use="optional">
          <xs:annotation>
            <xs:documentation source="version">1.0.0+</xs:documentation>
            <xs:documentation source="description">A 2nd XML attribute.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XmlTransientFields">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.transient=&quot;true&quot;&amp;gt;&lt;/code&gt;: fields marked as transient are ignored by
      parsers and writers, they hold runtime state that should not be persisted.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="persistentField" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="XmlAttributes">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.attribute=&quot;true&quot;&amp;gt;&lt;/code&gt;: fields as XML attribute instead of element,
        for every simple type.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="primitiveBoolean" type="xs:boolean" default="true" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;boolean&lt;/code&gt; primitive.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="primitiveChar" default="H" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;char&lt;/code&gt; primitive.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="1" fixed="true"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="primitiveByte" type="xs:byte" default="12" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;byte&lt;/code&gt; primitive.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="primitiveShort" type="xs:short" default="1212" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;short&lt;/code&gt; primitive.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="primitiveInt" type="xs:int" default="121212" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;int&lt;/code&gt; primitive.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="primitiveLong" type="xs:long" default="1234567890123" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;long&lt;/code&gt; primitive.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="primitiveFloat" type="xs:float" default="12.12" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;float&lt;/code&gt; primitive.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="primitiveDouble" type="xs:double" default="12.12" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;double&lt;/code&gt; primitive.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="objectString" type="xs:string" default="default value" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;String&lt;/code&gt; class.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="objectDate" type="xs:dateTime" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;Date&lt;/code&gt; class.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tag-name" type="xs:string" default="default" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.attribute=&quot;true&quot; xml.tagName=&quot;tag-name&quot;&amp;gt;&lt;/code&gt;.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="XmlFieldsOrder">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">&lt;code&gt;&amp;lt;field xml.insertParentFieldsUpTo=&quot;xxx&quot;&amp;gt;&lt;/code&gt;: insert parent fields.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="field1" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="field-2" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="field3" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="field4" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="field5" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="field6" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="field7" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>